<div class='card-bottle mb-3'>
  <img src=<%= @image %> alt='bottle' />
  <div class='card-bottle-infos'>
    <h2><%= @name %></h2>
    <p>Expert rating: <%= render(BadgeComponent.new(color: 'dark', label: @rating.to_s)) %></p>
    <p>Price: <%= @price %>€</p>
    <p><%= render(Bottles::TagsComponent.new(tags: @tags)) %></p>
  </div>
</div>
